@page "/Sites"
@using DataAccessLibrary
@using DataAccessLibrary.Models
@inject SiteService _db

<h1>Sites</h1>
<RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add New Site" Click="@InsertRow" Disabled=@(siteToInsert != null) />
<RadzenDataGrid @ref="sitesGrid" AllowFiltering="true" AllowPaging="true" PageSize="15" AllowSorting="true" EditMode="DataGridEditMode.Single"
                Data="@sites" TItem="Site" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow">
    <Columns>
        <RadzenDataGridColumn TItem="Site" Property="NAME" Title="NAME">
            <EditTemplate Context="site">
                <RadzenTextBox @bind-Value="site.NAME" Data="@sites" TextProperty="SiteName" ValueProperty="NAME" Style="width:100%; display: block;" />
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="Site" Property="address" Title="ADDRESS">
            <EditTemplate Context="site">
            <RadzenTextBox @bind-Value="site.address" Data="@sites" TextProperty="SiteAddress" ValueProperty="Address" Style="width:100%; display: block;" />
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="Site" Property="city" Title="CITY">
            <EditTemplate Context="site">
                <RadzenTextBox @bind-Value="site.city" Data="@sites" TextProperty="SiteCity" ValueProperty="City" Style="width:100%; display: block;" />
            </EditTemplate>
        </RadzenDataGridColumn>
                
        <RadzenDataGridColumn TItem="Site" Property="state" Title="STATE">
            <EditTemplate Context="site">
                <RadzenNumeric @bind-Value="site.state_key" Data="@sites" TextProperty="SiteState" ValueProperty="State" Style="width:100%; display: block;" />
            </EditTemplate>
        </RadzenDataGridColumn>
                
        <RadzenDataGridColumn TItem="Site" Property="state" Title="ZIP">
            <EditTemplate Context="site">
                <RadzenNumeric @bind-Value="site.zip" Data="@sites" TextProperty="SiteZip" ValueProperty="Zip" Style="width:100%; display: block;" />
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="Site" Context="sampleBlazorModelsSampleOrder" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="120px">
            <Template Context="order">
                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Class="m-1" Click="@(args => EditRow(order))" @onclick:stopPropagation="true">
                </RadzenButton>
            </Template>
            <EditTemplate Context="order">
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@((args) => SaveRow(order))">
                </RadzenButton>
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Class="m-1" Click="@((args) => CancelEdit(order))">
                </RadzenButton>
            </EditTemplate>
        </RadzenDataGridColumn>

    </Columns>
</RadzenDataGrid>

@code {
    RadzenDataGrid<Site> sitesGrid;
    IList<Site> sites;
    Site siteToInsert;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        sites = await _db.GetSites();
    }

    async Task InsertRow()
    {
        siteToInsert = new Site();
        await sitesGrid.InsertRow(siteToInsert);
    }


    void OnCreateRow(Site site)
    {
        _db.InsertSite(site);
    }

    async Task SaveRow(Site site)
    {
        if (site == siteToInsert)
        {
            siteToInsert = null;
        }

        await sitesGrid.UpdateRow(site);
    }

    async Task EditRow(Site site)
    {
        await sitesGrid.EditRow(site);
    }

    void OnUpdateRow(Site site)
    {
        if (site == siteToInsert)
        {
            siteToInsert = null;
        }

        _db.UpdateSite(site);

    }

    void CancelEdit(Site site)
    {
        if (site == siteToInsert)
        {
            siteToInsert = null;
        }

        sitesGrid.CancelEditRow(site);

    }




}